<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>computed 的set用法</title>
  <style>
    ul, li{
      list-style: none;
    }
  </style>
</head>
<body>
  <div id="app">
    <p>
      <input type="checkbox" v-model="checkAll"> 全选
    </p>
    <ul>
      <li v-for="item in shopList">
        <input type="checkbox" v-model="item.value"> {{item.name}}
      </li>
    </ul>
  </div>
  <script src="../node_modules//vue//dist/vue.js"></script>
  <script>
    // computed计算属性set的使用场景
    let vm = new Vue({
      el: '#app',
      data: {
        shopList: [
          {name: '图书', value: false, id: 1},
          {name: '音乐', value: false, id: 2},
          {name: '电影', value: false, id: 3},
        ]
      },
      computed: {
        checkAll: {
          get() {
            return this.shopList.every(item => item.value);
          },
          set(bool) {
            this.shopList.forEach(item => item.value = bool);
          }
        }
      }
    })
  </script>
</body>
</html>